* {
  box-sizing: border-box;
}

body {
  background-color: #282923;
  color: #f8f8f2;
  font-family: monospace;
  font-size: 12px;
  padding-bottom: 200px;
}

hr {
  border: 0;
  border-top: solid 2px #403d32;
}

#main {
  display: flex;
}

#main > div {
  margin-right: 8px;
}

#gconstTable {
  border: solid 2px #403d32;
  border-collapse: collapse;
}

#gconstTable th {
  border: solid 2px #403d32;
  text-align: left;
  white-space: nowrap;
}

#gconstTable td {
  border: dotted 1px #403d32;
}

#gconstTable .bottom {
  border-bottom: solid 1px #403d32;
}

#gconstTable .variable {
  border-right: solid 1px #403d32;
}

.unset {
  color: #808080;
}

.variable {
  color: #e7db74;
}

.negative {
  color: #f92472;
}

.positive {
  color: #a6e22b;
}

#changelog {
  background-color: #282923;
  border: solid 2px #403d32;
  color: #f8f8f2;
  margin: 0;
  min-height: 640px;
  min-width: 480px;
  height: 100%;
  width: 100%;
}

#changelog:focus {
  outline: none;
}